body {
  background: radial-gradient(rgb(255, 254, 254), rgb(255, 255, 255));
  height: 100vh;
}

.container {
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  margin: 8px;
  gap: 8px;
}

.group {
  display: flex;
  aspect-ratio: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(19, 19, 19);
  border-radius: 15px;
  cursor: pointer;
  padding: 20px 5px;
}