body{
    background-color: #383837;
    height: 100vh;
    overflow: hidden;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    filter: blur(10px);
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

.shape:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: -80px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: -30px;
    bottom: -80px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
    width: 400px;

    z-index: 1;

    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    background: rgba(128, 128, 128, 0.4);

    padding: 20px;
}

form header {
    text-align: center;
    position: relative;
    gap: 75px;
}

form input {
    padding: 12px;
    border: 2px ridge black;
    border-radius: 10px;
}

form .row:not(header) {
    gap: 10px;
}

form input.small {
    width: 175px;
}

form input[type="submit"] {
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: rgb(2, 212, 249);
}

form a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

form .error {
    height: 40px;
    color: red;
}