.container {
    width: 400px;
    height: 500px;
    font-family: monospace;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > input {
    margin: 0.5em;
    padding: 0.5em;
}

.title {
    font-size: 200%;
}